@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #282c34;
}

.quote-manager {
  min-height: 100vh;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  color: #fff;

  @media screen and (min-width: 1024px) {
    width: calc(100% - 280px);
    padding: 16px 32px;
    margin-inline-start: auto;
  }
}

.qm-card-wrapper {
  margin-block-start: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .qm-card > div {
    display: flex;
    flex-direction: column;
  }

  > div {
    margin: 0 8px;
  }

  .qm-card__input {
    margin: 8px 0;
  }
}

.qm-quotes {
  margin-top: 32px;
}
