* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #282c34;
}

.quote-manager {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
  color: #fff;

  @media screen and (min-width: 1024px) {
    width: calc(100% - 280px);
    padding: 16px 32px;
    margin-inline-start: auto;
  }
}

.qm-card-wrapper {
  margin-block-start: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));

  .qm-card > div {
    display: flex;
    flex-direction: column;
  }

  .qm-card__input {
    margin: 8px 0;
  }
}

.qm-quotes {
  margin-top: 32px;

  > .MuiBox-root {
    flex-wrap: wrap;
    display: flex;
  }
}

.qm-card__quote-list > li:hover > .qm-card__delete-icon {
  visibility: visible;
}
