@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

* {
  margin: 0;
  padding: 0;
}

.quote-manager {
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  color: #fff;

  @media screen and (min-width: 1024px) {
    width: calc(100% - 280px);
    padding: 16px 32px;
    margin-inline-start: auto;
  }
}
